{% extends "base_generic.html" %}
 {% block title %}<title>App Library</title>{% endblock %}
{% block content %}
<h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Movies:</strong> {{ num_movies }}</li>
    <li><strong>Actors:</strong> {{ num_actors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>Directors:</strong> {{ num_directors }}</li>
    <li><strong>Number of Daniels:</strong> {{ num_daniel|length }} Dans</li>
  </ul>
  <h2>Dynamic Daniels</h2>

  <ul>
{% for daniel in num_daniel %}
<li>{{ daniel }}</li>
{% endfor %}
</ul>
  

{% endblock %}